<% title "About Us" %>

<div id="aboutbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h4>"I think a simple rule of business is, if you do the things that are easier first, then you can actually make a lot of progress."</h4>
			<small>- Mark Zuckerberg, Founder & CEO of Facebook</small>
		</div>
	</div>
</div>

<section>
	<div class="single">
		<div class="content">


			<h2><%= yield(:title) %></h2>
			
			
			
			<p>At UpStart we have only one mission: To Create a Generation of students that disrupt, innovate and transform the world! We realize that there's a huge gap between the knowledge we're taught in business school and the skills we'll need to survive out in the real world.</p>

			<p>For years, we've been told that if we study hard, stay humble and slowly work our way up the corporate ladder that we would find success and happiness. designed to sap creativity and individuality. But the world is changing. The world is moving from a service-based economy to one that thrives on innovation, technology and design.</p>

			<p></p>

			 <p>So how are we trying to bridge this gap? Through StartupSchool, we help students develop their critical thinking and strategy skills, how to go from ideation to execution. At SmashUp, our annual entrepreneurship focused conference, students get the opportunity to actually apply their learning to creating a real business.</p>

			<p>We are based in the Ideation + Experiential Learning Centre (The Hub) in UTSC and host a variety of workshops on and off campus. </p>

		</div>

		<div class="content">
			
		
			<h3>Meet the team that makes it all happen</h3>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('kareem.jpg') %>
			    <div class="overlay">Kareem Kwong, President</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('eunice.jpg', :class => "profile") %>
			    <div class="overlay">Eunice Lee, Vice-President of Operations</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('chloe.jpg', :class => "profile") %>
			    <div class="overlay">Chloe Cheuk, Vice-President of Business Development</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('vania.jpg', :class => "profile") %>
			    <div class="overlay">Vania Putri, Vice-President of Marketing</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('winson.jpg') %>
			    <div class="overlay">Winson Leung, Marketing Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('laxitha.jpg', :class => "profile") %>
			    <div class="overlay">Laxitha Kathir, Marketing Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('ishita.jpg', :class => "profile") %>
			    <div class="overlay">Ishita Agrawal, Business Development Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('renee.jpg', :class => "profile") %>
			    <div class="overlay">Renee Wong, Marketing Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('jasmine.jpg', :class => "profile") %>
			    <div class="overlay">Jasmine Marcial, Operations Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('john.jpg', :class => "profile") %>
			    <div class="overlay">Johnathan Chau, Operations Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="mypage.html">
			    <%= image_tag('brintha.jpg', :class => "profile") %>
			    <div class="overlay">Brintha, Marketing Manager</div>
			</a>
			<br />
			<br />
			<p>We're always looking for amazing people to be part of our team! <%= link_to("Apply Today", jobs_path, class: "btn-secondary") %></p>

		</div>
	</div>
</section>
		        	