<% title "About Us" %>

<div id="aboutbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h4>"I think a simple rule of business is, if you do the things that are easier first, then you can actually make a lot of progress."</h4>
			<small>- Mark Zuckerberg, Founder & CEO of Facebook</small>
		</div>
	</div>
</div>

<section>
	<div class="single">
		<div class="content">


			<h2><%= yield(:title) %></h2>
			
			
			
			<p>At UpStart we have only one mission: <b>to create a generation of students that have the courage, and ability, to disrupt the world.</b> We realize that there's a huge gap between the knowledge we're taught in business school and the skills we'll need to survive out in the real world.</p>

			<p>For years, we've been told that if we study hard, pay our dues and slowly work our way up the corporate ladder that we would find success and happiness. Instead, many of us found that instead of happiness it has proved to be a cruel game designed to sap creativity and joy out of our lives. But the world is changing. Today, the world thrives on innovation, technology and design. <em>In this world, it isn't enough to just fit in. To succeed, we'll have to have both the courage and ability to be oustanding.</em></p>
			<br />


			<h4>So what do we do?</h4>

			 <p>How are we trying to bridge this gap? Through StartupSchool, we help students develop their critical thinking and technical skills: how to go from ideation to execution. At SmashUp, our annual entrepreneurship conference, students get the opportunity to work with students from across Canada and actually apply their learning to creating a real product/business. Lastly we're developing an online platform for students to connect, share ideas and work on projects.</p>

			<p>If any of this resonates with you at all, please come visit us! We are based in the Ideation + Experiential Learning Centre (The Hub) in UTSC and host a variety of workshops on and off campus. </p>

		</div>

		<div class="content">
			
		
			<h3>Meet the team that makes it all happen</h3>
			<a data-overlayer="effect:bottom;" href="http://www.twitter.com/kwngo">
			    <%= image_tag('kareem.jpg') %>
			    <div class="overlay">Kareem Kwong, President</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('eunice.jpg', :class => "profile") %>
			    <div class="overlay">Eunice Lee, Vice-President of Operations</div>
			</a>
			
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('vania.jpg', :class => "profile") %>
			    <div class="overlay">Vania Putri, Vice-President of Marketing</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('winson.jpg') %>
			    <div class="overlay">Winson Leung, Marketing Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('laxitha.jpg', :class => "profile") %>
			    <div class="overlay">Laxitha Kathir, Marketing Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('ishita.jpg', :class => "profile") %>
			    <div class="overlay">Ishita Agrawal, Business Development Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('renee.jpg', :class => "profile") %>
			    <div class="overlay">Renee Wong, Marketing Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('jasmine.jpg', :class => "profile") %>
			    <div class="overlay">Jasmine Marcial, Operations Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('john.jpg', :class => "profile") %>
			    <div class="overlay">Johnathan Chau, Operations Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('brintha.jpg', :class => "profile") %>
			    <div class="overlay">Brintha K, Marketing Manager</div>
			</a>
			<a data-overlayer="effect:bottom;" href="#">
			    <%= image_tag('sravanti.jpg', :class => "profile") %>
			    <div class="overlay">Sravanti Mudunuri, Business Development Manager</div>
			</a>
			<br />
			<br />
			<p>We're always looking for amazing people to be part of our team! <%= link_to("Apply Today", jobs_path, class: "btn-secondary") %></p>

		</div>
	</div>
</section>
		        	