  <div id="banner">
    <div class="container">
      <div id="block" class="span7">
        <h3>Rocketing Towards Greatness</h3>
        <h4>UpStart is more than just a club. It's a movement: the catalyst that fuels entrepreneurship with students at the University of Toronto Scarborough.</h4><button class="btn-secondary">Learn More</button></div>
      <div class="span5">
      </div>
    </div>
  </div>

  <div id="about-row">
    <div class="container">
      <div class="span3">
      <%= image_tag("Bulb.png") %>
       <h4>StartupSchool</h4>
       <h5>We host a collection of experiential, hands-on workshops to help students build businesses and take their ideas from ideation to execution.</h5>
     </div>
     <div class="span3">
      <%= image_tag("Spaceship.png") %>
       <h4>SmashUp</h4>
       <h5>Over two days every year, students from across Canada come together for 2 days of intense skill-based entrepreneurial workshops and launching their own startups.</h5>
     </div>
     <div class="span3">
      <%= image_tag("Girl.png") %>
       <h4>Discovery Network</h4>
       <h5>We help UTSC students connect with talent and potential co-founders</h5>
     </div>
     
    </div>
  </div>

   <div id="email-row">
    <div class="container">
      <div class="row">
        <div class="center">
          <div class="span4 offset2">
          <h4>Get the best news in your inbox</h4>
          </div>
          <div class="span4">
              <%= form_tag do %>
                <%= email_field(:user, :address) %>
                <%= submit_tag("Go", :class => "btn btn-primary btn-wide") %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  
