
<div class="gallery autoplay items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <div class="container">
        <div class="row">
      <h1>We Like To Think We're In The Business of Disruption</h1>
      <p>UpStart is creating entrepreneurial experiences to prepare our students for the harsh, desolate wasteland that is the real world. We're just trying to re-imagine business education across the country. Based in the University of Toronto Scarborough.</p>
       <%= link_to("Learn More", about_path, :class => "btn-secondary") %>
       </div>
       </div>
    </figure>

    <figure class="item">
      <h1>We Host Awesome Workshops</h1>
      <p>We're working with local partners to bring incredible skill-based workshops to UTSC.</p>
      <%= link_to("See The Upcoming Workshops", event_path, :class => "btn-secondary") %>

    </figure>

    <figure class="item">
      <h1>A Great Team Is Everything</h1>
      <p>None of this would be possible without our fantastic team who work hard to make the school a better place for learning.</p>
      <%= link_to("Meet The Team", about_path, :class => "btn-secondary") %>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

  

  <div id="about-row">
    <div id="block" class="container">
        <div class="row">
          <div class="span4">
          <%= image_tag("Bulb.png", :class => "main-icons") %>
           <h4>StartupSchool</h4>
           <h5>We host a collection of experiential, hands-on workshops to help students build businesses and take their ideas from ideation to execution.</h5>
         </div>
         <div class="span4">
          <%= image_tag("Spaceship.png", :class => "main-icons") %>
           <h4>SmashUp</h4>
           <h5>Every year, students from across Canada come together for 2 days of intense skill-based entrepreneurial workshops and launching their own startups.</h5>
         </div>
         <div class="span4">
          <%= image_tag("Girl.png", :class => "main-icons") %>
           <h4>Discovery Network</h4>
           <h5>We help UTSC students connect with talent and potential co-founders</h5>
         </div>
        </div>
     
    </div>
  </div>

   <div id="email-row">
    <div class="container">
      <div class="row">
        <div class="center">
          <div class="span12">

          <!-- Begin MailChimp Signup Form -->
            
            <form action="http://upstartutsc.us7.list-manage1.com/subscribe/post?u=b83e518f4825ca0a285e38d08&amp;id=69e198b1cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <h4>Get the best news in your inbox!</h4>
              <label for="mce-EMAIL">Email Address</label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-wide"></div>
            </form>
            </div>
<!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>
  </div>

  
