<div class="navbar">
            <div class="navbar-inner">
              <%= link_to "UpStart", root_path, :class => "brand" %>
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
                </button>
                    <div class="nav-collapse collapse" id="nav-collapse-01">
                    <ul class="nav">
                      <li><%= link_to "About", about_path %></a></li>
                      <li class="active"><a href="#fakelink">Programs</a></li>
                      <li><%= link_to "SmashUp", "http://smashup.launchrock.com" %></li>
                      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </a>
                      <li><%= link_to "Resources", resource_path %></li>
                      <li class="active"><a href="#fakelink">Discussion</a></li>

                    
                    </ul>
                   <!-- /nav -->
                  

                  <form class="navbar-search form-search pull-right" action="">
                    <div class="input-append">
                      <%= form_tag("/search", :method => "get") do %>
                        <%= text_field_tag(:q) %>
                        <%= submit_tag("Search", :class => "btn") %>
                      <% end %> 
                      
                    </div>
                  </form>
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div> <!-- /navbar -->